# This is a sample build configuration for Java (Gradle).
# Check our guides at https://confluence.atlassian.com/x/zd-5Mw for more examples.
# Only use spaces to indent your .yml configuration.
# -----
# You can specify a custom docker image from Docker Hub as your build environment.
image: mingc/android-build-box:latest

pipelines:
  pull-requests:
    develop:
      - step:
          caches:
            - gradle
            - gradlewrapper
            - androidavd
          script:
            - chmod +x ./gradlew
            - ./gradlew clean build install
  branches:
    master:
      - step:
          caches:
            - gradle
            - gradlewrapper
            - androidavd
          script:
            - chmod +x ./gradlew
            - ./gradlew clean build install
          artifacts:
            - pxsdk/build/outputs/**
      - step:
          caches:
            - gradle
            - gradlewrapper
            - androidavd
          name: Deploy to bintray
          deployment: production
          trigger: manual
          script:
            - chmod +x ./gradlew
            - ./gradlew bintrayUpload